.navigator {
	background-color: #a1a1a1;
}

.navigator {
	margin: 0;
	border: 0;
	text-align: center;
	height: 1.7rem;
	padding-top: 1.5rem;
}
a {
	text-decoration: none;
}

li {
	color: #28252c;
	justify-content: space-around;
	display: inline;
	padding: 3rem;
	text-decoration: none;
	font-family: "calibri";
}

li:hover {
	color: aquamarine;
}
